@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

#nprogress .bar {
    background: #000000 !important;
}
#nprogress .peg {
    box-shadow: 0 0 10px #000000, 0 0 5px #000000;
}
#nprogress .spinner-icon {
    border-top-color: #000000 !important;
    border-left-color: #000000 !important;
}
